DISCORD_BOT_TOKEN = '' # https://discord.com/developers/applications
FACEIT_API_KEY    = '' # https://developers.faceit.com/apps
STEAM_WEB_API_KEY = '' # https://steamcommunity.com/dev/apikey

# At least one of these needs to be on a voice channel for the match start to be detected.
STEAM_PROFILES    = {
    'DISCORD#1234': 'https://steamcommunity.com/id/STEAMPROFILE',
    'ANOTHER#0987': 'https://steamcommunity.com/profiles/12345678909876543',
}

AUDIO_FILE        = 'example.mp3'
